/* globales */
body {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra horizontalmente */
    justify-content: center; /* Centra verticalmente */
    height: 100vh; /* Altura completa de la ventana */
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

h1 {
    text-align: center; /* Centra el texto del título */
}

#map {
    width: 700px;   /* Ancho del mapa */
    height: 700px;  /* Altura del mapa */
    border: 1px solid #ccc; /* Opcional: agrega un borde para visualizar el contenedor */
}

#boton {
    background-color: #2964a4; /* Color de fondo */
    padding: 10px 20px; /* Espaciado interno (padding) */
    text-align: center; /* Alineación del texto */
    display: inline-block; /* Mantener el botón en línea */
    font-size: 16px; /* Tamaño del texto */
    border-radius: 5px; /* Bordes redondeados */
    border: none; /* Sin borde */
    cursor: pointer; /* Cambia el cursor a una mano */
    margin-top: 10px;
    margin-bottom: 10px;
}

#boton, a{
    text-decoration: none; /* Quitar subrayado en caso de ser un enlace */
    color: white; /* Color del texto */
}
  
#boton:hover {
    background-color: #1f4e80; /* Cambiar color al pasar el cursor por encima */
}

.layers {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
    
}

/* nosotros pagina */

img {
    height: 500px;
    width: 600px;
    margin-top: 0;
}

.nosotros-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
    margin-top: 10px;
    margin-bottom: 30px;

}

.nosotros-contenedor {
    width: 80%; /* Ancho del contenedor */
    max-width: 1200px; /* Ancho máximo */
    margin: 0 auto; /* Centra el contenedor horizontalmente */
    padding: 20px; /* Espaciado interior del contenedor */
}
.texto p{
    font-size: 16px;
}

.texto h2 {
    font-size: 30px;
    color: #1f4e80;
}

/* info proyecto */
.info-proyecto{
    border-top: 2px solid grey;

}

.info-proyecto p {
    font-size: 18px
}

/* footer */

.footer {
    background-color: #1f4e80;
    width: 100%;
    margin-bottom: 0;
}



